/* Big Stuff */
html {
        
        font-family: "Open Sans", sans-serif;

}



body {

        width: 800px;
        margin: 0 auto;
        padding: 15px 15px 15px 15px;
}



/* Navbar */

.navbar {
        display: flex;
        align-items: center;
        position: sticky;
        background-color: rgb(245, 245, 245);
        font-size: 18pt;
}

.navlist {
        display: flex;
        list-style: none;
}

.navlist li {
        margin-right: 20px; 
}


/* Blog and blog list */
.bloglist {
        display: flex grid;
        list-style: none;
}

.bloglist li {
        padding:10px;
        font-size: 18pt;
}

/* Blog content Div */

.blogcontent {
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        
        
}


/* Links */

a {
        text-decoration: none;
        font-weight: bold;
}

a:link{
        color: black
}

a:visited{
        color: rgb(29, 29, 29)
}


/* Paragraphs */

p {
        font-size: 14pt;
}